---
import { Image } from 'astro:assets';
import weather from '../../assets/weatherapp.png'
---

<div>
  <Image
    class="project-image border  border-black"
    src={weather}
    alt="screen shot of python scripts running in the terminal"
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
