---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import CustomImageScroll from "../components/CustomImageScroll.astro";
import CTA from "../components/CTA.astro";
import Contact from "../components/Contact.astro";
import BackButton from "../components/BackButton.astro"

//Professional Work Components
// import Anaren from "../components/Anaren.astro";
import NexGen from "../components/projects/NexGen.astro";
import LeftTheMatrix from "../components/projects/LeftTheMatrix.astro";
import CutDate from "../components/projects/CutDate.astro";
//Project Components
import Weather from "../components/projects/Weather.astro";
import Macros from "../components/projects/Macros.astro";
---

<Layout title="Portfolio DevJeffrey Desarrollador Frontend">
  <div id="contents">
    <main class="container">
      <div class="mb-16">
        <Heading />
        <p
          class="mt-4 text-lg text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
        Creo proyectos y contenidos atractivos en Internet, a partir de mi
        Experiencia en Desarrollo Web Freelance.<br/>Mi trabajo abarca varios
        clientes, desde emprendedores y startups.<br/>Si usted
        cree que puedo contribuir a su negocio, no dude en <a
            href="#contact"
            class="underline text-gray-300">contáctarme</a
          >.
        </p>
      </div>
      <div class="mb-16">
        <h2
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
          Creador de Contenido
        </h2>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400">
          Yo creo <a
            href="https://www.youtube.com/@DevJeffreyFrontendMindset"
            target="_blank"
            class="underline text-gray-300">Contenido</a
          > de Desarrollo Frontend, incluyendo proyectos que estoy trabajando actualmente.
        </p>
        <CustomImageScroll />
      </div>

      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
      >
        Trabajos Profesionales
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
            href="https://nexgendigital.vercel.app/"
            title="NexGen Digital"
            body="Landing Page de Servicios Profesionales de Creación de Páginas Web"
            tags="Astro, Tailwind CSS, Vercel"
          >
            <div class="max-w-full">
              <NexGen />
            </div>
          </Card>
        </div>
        <div class="">
          <Card
            href="https://left-the-matrix.netlify.app/"
            title="Left The Matrix"
            body="Sitio Web con recursos para Mejorar Hábitos y el Desarrollo Personal."
            tags="HTML, CSS, JavaScript, Netlify"
          >
            <div class="max-w-full">
              <LeftTheMatrix />
            </div>
          </Card>
        </div>
        <div class="">
          <Card
            href="https://cutdate.netlify.app/"
            title="CutDate"
            body="Landing Page que muestra información de un Servicio de Barbería."
            tags="React, Tailwind CSS, Netlify"
          >
            <div class="max-w-full">
              <CutDate />
            </div>
          </Card>
        </div>
      </div>
      <div class="my-8 bg-black">
        <CTA />
      </div>
      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
      >
        Trabajos Creativos
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
            title="Weather App"
            body="App web del Clima utilizando API´s y herramientas como Axios."
            tags="React, Tailwind CSS"
            github="https://github.com/MADDOG25/weather-app"
          >
            <Weather />
          </Card>
        </div>
        <div class="">
          <Card
            title="X Macros"
            body="App Web que calcula los macronutrientes como proteína, carbohídratos y grasas. Calcula cuanto debes de comer para aumentar o disminuir tu peso."
            tags="React, Tailwind CSS, TypeScript"
            github="https://github.com/MADDOG25/x-macros"
          >
            <Macros />
          </Card>
        </div>
      </div>
      <div class="my-8">
        <Contact />
      </div>
      <div class="my-8 mx-auto flex justify-center items-center">
        <BackButton />
      </div>
    </main>
  </div>
</Layout>

<style is:global>
  main {
    margin: auto;
    padding: 0.75rem;
    width: 1100px;
    max-width: 100%;
    color: white;
    line-height: 1.6;
  }
  .project-image {
    max-width: 100% !important;
    overflow: hidden;
  }
  .project-cards {
  }
  .video-wrapper {
    background: #111111;
    padding: calc(1.5rem - 1px);
    line-height: 1.4;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  .project-column > div {
    max-width: 100%;
    overflow: hidden;
  }
  .projects-alt > li {
    gap: 1rem !important;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    font-size: 2.75rem;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    gap: 0;
    padding: 0;
  }
  .read-more {
    color: #fff;
  }
  details {
    position: relative;
    top: -1px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    max-width: 900px;
  }
  details > div {
    max-width: 830px;
  }

  summary:hover {
    cursor: pointer;
  }
</style>

<script></script>
